*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
select,
input {
  font-family: "Rubik", sans-serif;
}
body {
  padding: 32px 16px;
}

.container {
  max-width: 1302px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 20px 3px #b5b5b5;
}

.header {
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  /* flex-wrap: wrap; */
  overflow-x: hidden;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 114.286%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: #29323f;
}

.form {
  display: flex;
  gap: 16px;
  align-items: center;
}

.select {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.select__label {
  color: #b9c0c6;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
}

.select__frame {
  border: 1px solid #e7e7ec;
  border-radius: 100px;
  padding-right: 12px;
  /* position: relative; ---- не зрозуміла нащо */
}

.select__frame:focus-within {
  border-color: black;
}

.select__input {
  height: 29px;
  border-radius: 100px;
  border: none;
  padding-left: 12px;
  outline: none;
  color: #29323f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
}

.main {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  /* border-spacing: 15.66%; ---- не працює */
}

.table__heading {
  color: #b9c0c6;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 15px;
}

.table__cell {
  padding: 15px 0;
  color: #29323f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  white-space: nowrap;
}

.table__row {
  border-bottom: 1px solid #f0f2f4;
}

.table__row:hover {
  background-color: #f0f2f4;
}

/* ----- ширина з відступами не працює. Колір фону для демонстрації реальної ширини  */

.cell--first {
  /* width: calc(4% + 2.4%); */
  width: 4%;
  text-align: right;
  /* background-color: rgb(181, 221, 221); */
  padding-left: 24px;
}
.cell--second {
  /* width: calc(10.2% + 15.66%); */
  width: 10.2%;
  text-align: right;
  /* background-color: rgb(128, 199, 199); */
}
.cell--third {
  /* width: calc(9.2% + 15.66%); */
  width: 9.2%;
  text-align: left;
  /* background-color: rgb(108, 142, 215); */
}
.cell--forth {
  /* width: calc(5.37% + 15.66%); */
  width: 5.37%;
  text-align: left;
  /* background-color: #b6a6e1; */
}
.cell--fifth {
  /* width: calc(4.6% + 15.66%); */
  width: 4.6%;
  text-align: right;
  /* background-color: #e4b3e2; */
  padding-right: 27px;
}

.table__emptiness {
  width: 15.6%;
  min-width: 20px;
}

.status {
  display: inline-flex;
  justify-content: center;
  text-transform: lowercase;
  align-items: center;
  line-height: 1;
  height: 17px;
  border-radius: 100px;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  color: black;
}

.status__success {
  background-color: #d4fce4;
  color: #129948;
}
.status__declined {
  background-color: #f9e8e5;
  color: #d12d09;
}
.status__pending {
  background-color: #fcfad4;
  color: #f09e00;
}
